*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    font-size: 190%;
    box-sizing: border-box;
}
.popup{
    position: fixed;
    z-index: 999;
    background-color: aquamarine;
    color: black;
    top:0;
    width: 100vw;
    height: 100vh;
    #input{
        position: relative;
        top:20vh;
        margin: 0 auto;
        display: block;
        text-align: center;
        height: 2rem;
        width: 80vw;
        font-size: 1rem;
    }
    #btn{
        position: relative;
        top:30vh;
        margin: 0 auto;
        display: block;
        text-align: center;
        height: 2rem;
        width: 80vw;
        font-size: 1rem;
    }
}
.wrapper{
    background-color: red;
    width: 100%;  
    height: 100vh ;
   
    background-image: url('./images/keypadphone.png'); // 576 1024
    background-repeat: no-repeat;
    background-size: cover;
    border: .1rem solid blueviolet;

}
.app{
    margin: 0 auto;
   
    border: .1rem solid red;
    height: 100vh ;
    
}
.output{
    position: absolute;
    z-index: 999;
    background-color: transparent;
    color:black;
    top:23vh;
    width: 100%; 
    height: 24vh;
    
    font-size: 2rem;
    text-align: center;

    border: .1rem solid black;


 
   
//    @media screen and (max-width:412px) {
//         // top:7.5rem;
//         font-size: 1.5rem;

//         border: .1rem dotted green;


//     }
//      @media screen and (max-width:380px ) {
//         // top:6.5rem;
//         font-size: 1.5rem;
//         border: .1rem solid yellow;


//     }

    

}

.numbers{
    position: absolute;
background-color: transparent;
width: 100%; 
height: 51vh;
bottom:0;

z-index: 999;

border: .1rem solid palevioletred;

    
}
